@font-face {
    font-family: 'kalam';
    src: url(./fonts/Kalam-handwriting.ttf);
}

@font-face {
    font-family: 'lexenda';
    src: url(./fonts/Lexenda-sans-serif.ttf);
}

:root {
    --margin: 1.2rem;
    --width: 900px;
    font-size: 14px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: lexenda, sans-serif;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

/* HEADER */
header {
    width: min(var(--width), 100%);
    background-color: rgba(73, 38, 38, 0.925);
    display: flex;
    align-items: center;
    padding: var(--margin);
    color: white;

}

#header-icon {
    background-image: url(./images/list.svg);
    width: 100px;
    height: 100px;
    margin-right: var(--margin);
}

/* MAIN */

main {
    width: var(--width);
    flex: 1;
    display: flex;
}

nav {
    width: 350px;
    height: 100%;
    background-color: rgba(73, 38, 38, 0.5);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    font-size: 1.4rem;
    padding-left: var(--margin);
    color: white;
}

nav .icon {
    width: 40px;
    height: 40px;
    margin-right: var(--margin);
}

.inbox-container {
    margin-top: var(--margin);
}

.inbox-container > div {
    margin: var(--margin);
    display: flex;
    align-items: center;
    width: 200px;
}

.inbox-container > div:hover {
    font-size: 1.6rem;
    border-left: transparent 5px solid;
}

#inbox {
    background-image: url(./images/inbox.svg);
}

.inbox-container .icon {
    background-image: url(./images/calendar.svg);
}

.project-container {
    margin-top: var(--margin);
    padding-left: var(--margin);
    display: flex;
    flex-direction: column;
    width: 250px;
}

.project-container > h2 {
    margin-bottom: 0.6rem;
}

.projects {
    margin-left: -16px;
}

.add-container,
.project {
    display: flex;
    font-size: 1.3rem;
    align-items: center;
    width: 200px;
    margin-bottom: 0.8rem;
    margin-left: var(--margin);
}

.project-icon {
    background-image: url(./images/task.svg);
    margin-left: 5px;
    flex-shrink: 0;
}

.delete-icon {
    background-image: url(./images/delete-white.svg);
    margin-left: auto;
    flex-shrink: 0;

}

.project > p {
    overflow-x: auto;
}

.add-container:hover,
.projects > div:hover {
    border-left: transparent 5px solid;
}

#add-project {
    background-image: url(./images/add.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

/* Right side */

.small-icon {
    width: 25px;
    height: 25px;
}

.small-icon:hover {
    cursor: pointer;
}


#add-task {
    background-image: url(./images/add-black.svg);
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 10px;
    text-align: center;
}

.right-side {
    color: rgba(73, 38, 38, 0.925);
    margin-left: 2rem;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    width: 80%;
}

.right-side > * {
    margin-bottom: 1rem;   
}

.right-side h1 {
    font-size: 2.5rem;
    margin-bottom: var(--margin);
    margin-top: var(--margin);
}

.add-task {
    margin-top: var(--margin);
    display: flex;
    
}

.add-task:hover {
    border-left: transparent 5px solid;
}

/* tasks-container */

.tasks-container {
    /*  */
}

.task {
    display: flex;
    flex-direction: column;
}

.upper {
    display: flex;
    border: 3px solid rgba(73, 38, 38, 0.925);
    padding: 1rem;
    padding-right: 0;
    border-radius: 12px;

}

.upper:hover {
    box-shadow: 2px 4px;
}

#task-title {
    margin-left: 1rem;
    flex: 1;
    border: none;
    font-size: 1.5rem;
    color: rgba(73, 38, 38, 0.925);
}

#task-title:focus-visible {
    border: none;
}

#task-date {
    width: 120px;
    margin-left: var(--margin);
}

#task-priority {
    /*  */
}

#task-extend {
    margin-left: 1rem;
    background-image: url(./images/arrow.svg);
    background-repeat: no-repeat;
}

#task-delete {
    background-image: url(./images/delete.svg);
    background-repeat: no-repeat;
    margin-right: var(--margin);
    margin-left: 1rem;
}

/* lower */
.lower {
    border: 3px solid rgba(73, 38, 38, 0.925);
    padding: 1rem;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    border-top: none;
    background-color: rgba(73, 38, 38, 0.2);
    display: flex;
    flex-direction: column;
}

.lower-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

#description {
    resize: none;
    border: 2px solid rgba(73, 38, 38, 0.925);
    border-radius: 12px;
    padding: 0.5rem;
    font-size: 16px;
    font-weight: 600;
    font-family: kalam, serif;
}

/* add project */

.type-project-title {
    margin-left: var(--margin);
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
}

.type-project-title > input {
    padding: 0.2rem;
    border: none;
    border: 2px transparent solid;
    border-radius: 6px;
    margin-bottom: 0.5rem;
}

.type-project-title > input:hover {
    border: 2px solid rgba(73, 38, 38, 0.925);

}

.type-project-title button {
    padding: 0.2rem 1.5rem;
    border: 2px white solid;
    color: white;
    border-radius: 6px;
    font-size: 1.2rem;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#accept-title {
    background-color: rgba(28, 230, 105, 0.3);
}

#cancel-title {
    background-color: rgba(226, 65, 65, 0.3);
}

.delete-icon {
    background-image: url(./images/delete-white.svg);
    margin-left: auto;
}

#cancel-title:hover {
    background-color: rgba(128, 27, 27, 0.3);
}

#accept-title:hover {
    background-color: rgba(42, 109, 68, 0.3);
}